body {
    background-color: var(--bg-color);
    color: var(--primary-text);
}

.navbar_links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}
.navbar_links li {
  margin: 0 10px;
}
.navbar_links a {
  text-decoration: none;
  color: var(--primary-text);
  font-weight: bold;
  transition: color 0.3s ease, background-color 0.3s ease;
  padding: 8px 16px;
  border-radius: 6px;
  display: inline-block;
}

.navbar_links a:hover {
  color: var(--bg-color);
  background-color: var(--accent-primary);

}

.project_card {
  background-color: var(--divider-color);
  border: 1px solid var(--divider-color);
  border-radius: 6px;
  padding: 20px;
  flex: 1 1 300px;
}

.security, .web_dev, .additional {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

/***
 * Color scheme (dark mode and default light mode)
 ***/

 :root {
    --bg-color: #F4EFE9;
    --primary-text: #3B2C4A;
    --secondary-text: #7A6A63;
    --accent-primary: #5C3B6E;
    --accent-secondary: #B5765F;
    --divider-color: #DCD0C4;
 }
 
 body.dark-mode {
    --bg-color: #221C2B;
    --primary-text: #EBE6EF;
    --secondary-text: #AA9DB5;
    --accent-primary: #B892C9;
    --accent-secondary: #C68F76;
    --divider-color: #362D42;
 }